    <header class="header-image">
        <div class="headline">
            <div class="container">
		<div id="trackdetails" class="col-md-12 vertical-align">
			<div id="albumart" class="col-md-3"></div>
			<div id="metadata" class="col-md-9">
				<div id="artist">
					<i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
					<span>Loading... Stay awesome!</span>
				</div>
				<div id="title"></div>
			</div>
			<div id="draw"></div>
	        </div>
            </div>
        </div>
    </header>

