    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="img/x-small.png" width="32" height="32"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
			<li><a href="#">About</a></li>
			<li><a href="mailto:contact@xtradio.org">Contact</a></li>
		</ul>
                <ul class="nav navbar-nav navbar-right nav-pills">
			<li><a href="//xtradio.org/stream.m3u"><img src="img/winamp-icon.png" title="Download Playlist File" width="32" height="32"></a></li>
			<li><a href="http://xtradio.org:8080/live.m3u"><img src="img/itunes-icon.png" title="Open Radio in iTunes" width="32" height="32"></a></li>
			<li><a href="//tunein.com/radio/XTRadio-s182867/" target="_blank"><img src="img/tunein-icon.png" title="Listen on TuneIn" width="32" height="32"></a></li>
			<li><a href="//soundcloud.com/xtradio" target="_blank"><img src="img/soundcloud-icon.png" title="Follow XTRadio on Soundcloud" width="32" height="32"></a></li>
			<li><a href="//youtube.com/xtradioorg/live" target="_blank"><img src="img/youtube-icon.png" title="XTRadio on Youtube" width="32" height="32"></a></li>
			<li><a href="//fb.com/xtradioorg" target="_blank"><img src="img/fb.png" title="XTRadio on Facebook" width="32" height="32"></a></li>
			<li><a href="//twitter.com/xtradioofficial" target="_blank"><img src="img/tw.png" title="XTRadio on Twitter" width="32" height="32"></a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

