.full {
  background: black no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
    color: black;
}

#draw,
svg {
    position: absolute;
    bottom: 50px;
    left: 0;
    z-index: 1;
}

#trackdetails {
    padding: 0;
    z-index: 3;
    min-height: 300px;
    padding-top: 15px;
}

#metadata {
    display: block;
    padding-top: 75px;
}

#links {
    padding: 5px;
    z-index: 3;
}

.footer {}

#controls {
    color: white;
    font-size: 2em;
    height: 40px;
}

.full-width-content {
    padding: 25px 0;
}

.header-image {
    max-height: 500px;
}

#albumart {
    float: left;
    width: 350px;
    padding: 0px;
}

vertical-align {
    display: flex;
    align-items: center;
}

#artist {
    font-family: "Lobster","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 2.7em;
    margin-left: auto;
    margin-right: auto;
    line-height: 1em;
}

#artist a {
    text-decoration: none;
    color: inherit;
}

#title {
    font-family: "Quicksand","Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    display: block;
    font-size: 3em;
    text-align: center;
    margin-top: 10px;
}

#title a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    padding-top: 1px;
    padding-left: 15px;
}

.nav>li>a {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-right {
    padding-right: 15px;
}

.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}
