<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:fb="http://ogp.me/ns/fb#">

<html>
{% include head.html %}

<body>
 {% include nav.html %}
 {% include header.html %}

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

         <!-- First Featurette -->
	 <div class="row">
         <div class="col-md-5 col-center-block">
            <img class="img-responsive" src="img/logo-text-fixed.png" alt="XTRadio logo">
        </div> <!-- /.row -->
	</div>

{{ content }}
    </div> <!-- /.container -->
{% include footer.html %}

</body>
</html>
