<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
xmlns:fb="http://ogp.me/ns/fb#">

<html>
{% include head.html %}

<body>
 {% include nav.html %}
 {% include header.html %}

    <!-- Page Content -->
    <div class="container">

        <hr class="featurette-divider">

        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="img-responsive center col-md-12" src="img/logo-text-fixed.png" alt="XTRadio logo">

        <hr class="featurette-divider">

{{ content }}

{% include footer.html %}
</body>
</html>
